<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
     <acl>
    <resources>
        <resource id="Magento_Backend::admin">
            <resource id="Commerceshop_TwoFactor::twofactor" title="Commerceshop_TwoFactor">
                <resource id="Commerceshop_TwoFactor::main_menu" title="Two Factor" 
                                      sortOrder="100">
                    <resource id="Commerceshop_TwoFactor::manage_item" title="Manage Items" 
                              sortOrder="22" />
                </resource>
            </resource>            
            <resource id="Magento_Backend::stores">
                <resource id="Magento_Backend::stores_settings">
                    <resource id="Magento_Config::config">
                        <resource id="Commerceshop_TwoFactor::configuration" title=" Module Configuration"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
</acl>
</config>

